.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40vh;
}

.dropzone {
  background-color: lightgray;
  padding: 20vh 20vh 20vh 20vh;
  margin: 10vh 40vh 5vh 40vh;
  align-items: center;
  justify-content: center;
  color: darkblue;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
